---
layout: default
---

<article class="post">
  <header class="post-header">
    <div class="post-date">{{ page.date | date: "%B %-d, %Y" }}</div>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="view">by {{ page.author | default: site.author.name }}</p>
  </header>

  <div class="post-content">
    {{content}}
  </div>

  {% if page.tags %}
    <footer class="post-footer">
      <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
    </footer>
  {% endif %}
</article>